.vid-overlay {
    width: 35%;
}

.typer h1 {
    font-size: 280%;
}

#pauseBtn {
    width: 40%
}

.terminal {
    left: 6%;
    top: 27%;
    width: 40%;
    height: 30%;
}

img {
    width: 50%;
    left: 2%;
    top: 20%;
}

.terminal-text {
    top: 25%;
    width: 40%;
    font-size: 200%;
}